<div class="otp-legStep-row localize">
    <div class="otp-legStep-dist">
        <div class="otp-legStep-icon otp-legStep-icon-{{relativeDirection}}"></div>
        <span>{{distanceValue}}</span><br><span>{{distanceUnit}}</span>
    </div>
    <div class="otp-legStep-text">
        {{#if isRoundabout}}
            <span data-i18n="handlebars.roundabout"></span>{{localizedRelativeDirection}} <span data-i18n="handlebars.to"></span> {{ordinal exit}} <span data-i18n="handlebars.exitOn"></span> {{streetName}}
        {{else}}
            {{#if isFirst}}
                <span data-i18n="handlebars.startOn"></span><b>{{streetName}}</b> <span data-i18n="handlebars.heading"></span> {{localizedAbsoluteDirection}}
            {{else}}
                {{#if stayOn}}
                    <b>{{localizedRelativeDirection}}</b> <span data-i18n="handlebars.toContinueOn"></span> <b>{{streetName}}</b>
                {{else}}
                    <b>{{localizedRelativeDirection}}</b><span data-i18n="handlebars.onTo"></span><b>{{streetName}}</b>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
</div>
<script>
  $(".localize").localize();
</script>