<div class="otp-legStep-row localize">
    <div class="otp-legStep-dist">
        <div class="otp-legStep-icon otp-legStep-icon-{{relativeDirection}}_ko"></div>
        <span>{{distanceValue}}</span><br><span>{{distanceUnit}}</span>
    </div>
    <div class="otp-legStep-text">
        {{#if isRoundabout}}
            <span data-i18n="handlebars.roundabout"></span>{{localizedRelativeDirection}} <span data-i18n="handlebars.to"></span> {{ordinal exit}} <span data-i18n="handlebars.exitOn"></span> {{streetName}}
        {{else}}
            {{#if isFirst}}
                <span data-i18n="handlebars.startOn"></span> <span class="street-name">{{streetName}}</span> <span data-i18n="handlebars.heading"></span> <span class="direction">{{localizedAbsoluteDirection}}</span>
            {{else}}
                {{#if stayOn}}
                    <span class="direction">{{localizedRelativeDirection}}</span> <span data-i18n="handlebars.toContinueOn"></span> <span class="street-name">{{streetName}}</span></b>
                {{else}}
                    <span class="direction">{{localizedRelativeDirection}}</span><span data-i18n="handlebars.onTo"></span><span class="street-name">{{streetName}}</span></b>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
</div>
<script>
  $(".localize").localize();
</script>