<div class="otp-legStep-row localize">
    <div class="otp-legStep-dist">
        {{#if isFirst}}
        <div class="otp-legStep-icon otp-legStep-icon-{{localizedAbsoluteDirection}}_ko">
        {{else}}
        <div class="otp-legStep-icon otp-legStep-icon-{{relativeDirection}}_ko">
        {{/if}}
        </div>
        <span class="step-distance">
            <span class="distance-value">{{distanceValue}}</span><span class="distance-unit">{{distanceUnit}}</span>
        </span>
    </div>
    <div class="otp-legStep-text">
        {{#if isRoundabout}}
            <span data-i18n="handlebars.roundabout"></span> <span class="direction">{{localizedRelativeDirection}}</span> <span data-i18n="handlebars.to"></span> {{ordinal exit}} <span data-i18n="handlebars.exitOn"></span> <span class="street-name">{{streetName}}</span>
        {{else}}
            {{#if isFirst}}
                <span data-i18n="handlebars.startOn"></span> <span class="street-name">{{streetName}}</span> <span data-i18n="handlebars.heading"></span> <span class="direction">{{localizedAbsoluteDirection}}</span>
            {{else}}
                {{#if stayOn}}
                    <span class="direction">{{localizedRelativeDirection}}</span> <span data-i18n="handlebars.toContinueOn"></span> <span class="street-name">{{streetName}}</span>
                {{else}}
                    <span class="direction">{{localizedRelativeDirection}}</span> <span data-i18n="handlebars.onTo"></span> <span class="street-name">{{streetName}}</span>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
</div>
<script>
  $(".localize").localize();
</script>