<div class="otp-leg localize">
  <div class="otp-legHeader open">
        <div class="header">
            <span class="agency-descriptor-span"><b><a target="_blank" href="{{agencyUrl}}">{{agencyName}}</a></b></span>
            <div>
                <span class="transit-line-container"
                    {{#if routeColor }}
                      style="border-color: #{{routeColor}};"
                    {{/if}}
                >
                    {{#if (isAnyCallAndRide) }}
                        <div class="otp-legMode-icon-ko otp-legMode-icon-call-and-ride"></div>
                    {{else}}
                        <div class="otp-legMode-icon-ko otp-legMode-icon-{{ mode }}"></div>
                    {{/if}}
                    {{#if routeShortName}}
                        <b>{{routeShortName}}</b>
                    {{else}}
                        <b>{{routeLongName}}</b>
                    {{/if}}
                </span>
                    {{#if headsign}}
                       <span data-i18n="handlebars.to"></span> {{headsign}}
                    {{/if}}
            </div>
        </div>
        <!--        TODO ADD TRANSLATION and make change to MORE-->
        <div class="less-more">
            <span class="less">&minus;&nbsp;Less</span>
            <span class="more">&plus;&nbsp;More</span>
        </div>
    </div>
        </span>
  {{#each alerts}}
        <div class="alert alert-warning">{{alertDescriptionText}}</div>
  {{/each}}
    <div class="otp-legBody">
        <div class="otp-legBody-from otp-legBody-row">
            {{#if (hasFromTransitMessage) }}
                <span class="col-xs-5" id="from_leg_narrative_depart">
            {{else}}
                <span class="col-xs-5" id="from_leg_narrative_depart">
            {{/if}}
                <div>
                    <span class="narrative-depart-arrival-text col-xs-5 narrative-inner-col" data-i18n="handlebars.depart">

                    </span>
                    <span class="narrative-depart-arrival-time  col-xs-7 narrative-inner-col">
                        {{#if (hasflexCallAndRideMaxStartTime )}}
                            <span class="timing_text" data-i18n="handlebars.apprx"></span> {{formatTimeWithflexCallAndRideMaxStartTime startTime flexCallAndRideMaxStartTime timeOffset}}
                        {{else}}
                            {{formatTime startTime timeOffset}}
                        {{/if}}
                    </span>
                </div>
            </span>
            {{#if (hasFromTransitMessage) }}
                <span class="col-xs-7" id="from_leg_narrative_from">
            {{else}}
                <span class="col-xs-7" id="from_leg_narrative_depart">
            {{/if}}
                <div>
                    <span class="narrative-from-to-text col-xs-3 narrative-inner-col" data-i18n="handlebars.from"></span>
                    <span class="narrative-from-to-location col-xs-9 narrative-inner-col">
                        {{from.name}}
                        {{#if from.stopId.id}}
                            <span data-i18n="handlebars.stopNum"></span> {{from.stopId.id}}
                        {{/if}}
                    </span>
                </div>
            </span>
<!--            TODO manage flag stops once we have examples-->
            {{#if (isFlagStop from.boardAlightType)}}
                <span class="col-xs-6" id="from_leg_narrative_flag_stop">
                    <div>
                        <h5 data-i18n="handlebars.flagStop"></h5>
                        {{#if (hasflexFlagStopPickupMessage)}}
                            {{flexFlagStopPickupMessage}}
                        {{else}}
                            {{flagStopPickupText}}
                        {{/if}}
                    </div>
                </span>
            {{/if}}

        </div>
        <div class="otp-legBody-to otp-legBody-row">
            {{#if (hasToTransitMessage) }}
                {{#if (hideDropoffDeviatedMessage) }}
                <span class="col-xs-5" id="from_leg_narrative_depart">
                {{else}}
                <span class="col-xs-5" id="from_leg_narrative_depart">
                {{/if}}
            {{else}}
                <span class="col-xs-5" id="from_leg_narrative_depart">
            {{/if}}
                <div>
                    <span class="narrative-depart-arrival-text col-xs-5 narrative-inner-col" data-i18n="handlebars.arrive"></span>
                    <span class="narrative-depart-arrival-time col-xs-7 narrative-inner-col">
                        {{#if (hasflexCallAndRideMinEndTime) }}
                            <span class="timing_text" data-i18n="handlebars.apprx"></span> {{formatTimeWithflexCallAndRideMinEndTime endTime flexCallAndRideMinEndTime timeOffset}}
                        {{else}}
                            {{formatTime endTime timeOffset}}
                        {{/if}}
                    </span>
                </div>
            </span>
            {{#if (hasToTransitMessage)}}
                {{#if (hideDropoffDeviatedMessage) }}
                <span class="col-xs-7" id="from_leg_narrative_depart">
                {{else}}
                <span class="col-xs-7" id="from_leg_narrative_from">
                {{/if}}

            {{else}}
                <span class="col-xs-7" id="from_leg_narrative_depart">
            {{/if}}
                <div>
                    <span class="narrative-from-to-text col-xs-3 narrative-inner-col" data-i18n="handlebars.toUP"/>
                    <span class="narrative-from-to-location col-xs-9 narrative-inner-col">
                        {{to.name}}

                    {{#if to.stopId.id}}
                            <span data-i18n="handlebars.stopNum"></span> {{to.stopId.id}}
                    {{/if}}
                    </span>
                </div>
            </span>
            {{#if (isFlagStop to.boardAlightType)}}
                <span class="col-xs-6" id="from_leg_narrative_flag_stop">
                    <div>
                        <h5 data-i18n="handlebars.flagStop"></h5>
                        {{#if (hasflexFlagStopDropOffMessage)}}
                            {{flexFlagStopDropOffMessage}}
                        {{else}}
                            {{flagStopDropOffText}}
                        {{/if}}
                    </div>
                </span>
            {{/if}}
        </div>
        {{#if (isCallAndRide from.boardAlightType) }}
                <div>
                    <div class="call-and-ride-note">
                        <a href="#" class="button button-secondary icon-button call-and-ride-button"><span class="button-label">Service Details</span></a>
                    </div>
                </div>
        {{else}}
            {{#if (isCallAndRide to.boardAlightType) }}
                <div>
                    <div class="call-and-ride-note">
                        <a href="#" class="button button-secondary icon-button call-and-ride-button">Service Details</a>
                    </div>
                </div>
            {{/if}}
        {{/if}}


    </div>
</div>
<script>
  $(".localize").localize();
</script>